 /*//////////////////////////////////////////////////////////////////////////V DesktopOnly///////////*/
    
 @media (min-width: 1024px){
    .footer-link p:hover{
        font-size:1em;
        font-weight:600;
    }
    form button{
        padding:0 .9em 0 .9em;
    }
    .filter-type:hover{
        cursor:pointer;
    }
    .filter-type:hover .icon-filter{
        cursor:pointer;
        color:white;
    }
    .filter-type:hover .icon-wrap{
        transform: scale(1.2);
        background:#0065fc;
    }
    form button:hover{
        background:#4b93ff;
        border-color: #4b93ff;
    }
    #logo {
        margin-left: 1em;
    }
    #logo:hover{
        transform: scale(1.1);
    }
    .box-style:hover{
        transform:scale(1.03);
        box-shadow:2px 2px 20px #9c9c9c;
    }
    .link-menu:hover{
        border-top: solid #0065fc 3px;
        color: #0065fc;
    }
    .link-menu:focus{
        border-top: solid #0065fc 3px;
        color: #0065fc;
    }
 }


/*//////////////////////////////////////////////////////////////////////////V Tablette///////////*/

@media (min-width: 685px) and (max-width: 1000px){

    /*Ajustements conteneur*/
    
        body{
            width:100vw;
            margin:0;
        }
        #main-content-wrap{
            width:90%;
            margin:auto;
        }

        header{
            display:flex;
            flex-wrap: wrap;
        }

        #logo {
            margin-left:2em;
        }
    
        #top-results-wrap{
            flex-direction: column;
        }
    
        #hebergements-marseille{
            margin:2em 0 2em 0;
        }
    
        #filters-wrap{
            display:flex;
            flex-wrap: wrap;
            margin:2em auto 1em auto;
        }
    
        #side-list{
            max-width:100%;
            margin: -1em 0;
            order:-1;
        }
    
        #activities-wrap{
            flex-direction:column;
            min-height:fit-content;
        }

        #pomegues{
            background-image: url(images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        }
    
    /*typo*/
    
        #filters-wrap h3{
            font-size:1.2em;
            margin:auto 1em auto 0;
        }   
        .filter-type{
            margin: 1em 1em 0 0;
        }
        .filter-type:nth-child(4){
            margin-right:0;
        }
        .filter-type:nth-child(5){
            margin-right:0;
        }
        .result-caption{
            margin:auto 0 auto 0;
        }
        #activities h2{
            margin-top:0;
        }
        #side-title{
            display:flex;
            justify-content: space-between;
            margin: 1em 0;
        } 
        .link-menu{
            color:rgb(75, 75, 75);
        }
    
    /*Ajustements blocs*/
        .popular-item{
            margin: 1em 0;
        }
        .popular-img-article-item{
            max-width:150px;
        }
        .popular-article-text-container{
            margin-left:1.2em;
        }
        .article-column-wrap{
            flex-direction:row;
        }
        .activities-item-small{
            max-height:100%;
        }
        .activities-item-big{
            max-width:100%;
        }
        .bg-img-container{
            min-height:300px;
        }
        #footer-content-wrap{
            max-width:90%;
            justify-content:center;
            
        }
        .footer-bloc-typo{
            margin-right:1em;
        }
    }
    
    /*//////////////////////////////////////////////////////////////////////////V Mobile///////////*/
    
    @media (min-width: 300px) and (max-width: 685px){
    
        /*Ajustements conteneur*/
        
            body{
                width:100%;
                margin:0;
            }
            #main-content-wrap{
                width:100%;
                margin:auto;
            }
    
            header{
                display:flex; 
                flex-direction: column;
                justify-content: space-between;
                margin:0;
            }
    
            #bloc-search{
                display:flex;
                flex-direction:column;
            }
        /*Ajustements Header*/
    
            #logo{
                padding:1em;
            }
    
            nav{
                justify-content: space-around;
            }
            
            ul{
                padding:0;
                margin-bottom:0;
            }
            .menu-item{
                display:flex;
            }
    
            .menu-item a{
                display:inline-block;
                padding:0;
                margin:auto;
            }
    
            li{
                flex:1;
                padding-bottom:1em;
                border-bottom: solid #0065fc 3px;
                margin:0 2px 0 2px;
            }
    
            li:nth-child(3){
                position:absolute;
                top:1em;
                right:1em;
                padding-top:1em;
                border-bottom: none;
            }
            nav, ul{
                display:flex;
                flex:1;
                list-style-type: none;
            }
    
            #top-results-wrap{
                flex-direction: column;
            }
        
            #hebergements-marseille{
                margin:2em auto 2em auto;
                background:none;
            }
        
            #filters-wrap{
                display:flex;
                flex-wrap: wrap;
                margin:2em auto 1em auto;
            }
    
            #filters{
                margin:.5em .8em 1.5em .8em;
                width:100%;
            }
        
            #side-list{
                min-width:0;
                margin: -1em 0;
                order:-1;
                border-radius: 0;
            }
        
            #activities-wrap{
                flex-direction:column;
                margin:auto;
            }
            #activities{
                margin:0 1em;
            }
    
            #column-wrap-right{
                margin:0;
            }
        
        /*typo*/
            
            #wrap-title{
                margin:2em;
            }
    
            #wrap-title h1{
                font-size:1.2em;
                line-height:1.2em;
            }
        
            #filters-wrap h3{
                font-size:1.2em;
                margin:auto 1em auto 1em;
            }   
            .filter-type{
                margin:1em 0 0 0;
                transform:scale(.9)
            }
            .filter-type:nth-child(4){
                margin-right:0;
            }
            .filter-type:nth-child(5){
                margin-right:0;
            }
            .result-caption{
                margin:auto 1em auto 1em;
            }
            #activities h2{
                margin-top:0;
            }
            #side-title{
                display:flex;
                justify-content: space-between;
                margin: 1em 0;
            } 
            .link-menu{
                color:#0065fc;
            }
        
        /*Ajustements blocs*/
    
            form{
                width:100%;
                margin:auto;
                justify-content: space-around;       
            }
            #form-items-container{
                width:auto;
                margin:auto;
                display:flex;
                transform: scale(.78);
            }
    
             form #text-button-search{
            display:none;
            }

            #icon-button-search{
                display:flex !important;
            }

             .icon-search{
            display:block !important;
            margin:0;
            padding:.9em;
            font-size:1.3em;
            color:white;
            background:#0065fc;
            border-radius:.5em;
        }
             #result-caption-wrap{
                margin: 0 2em 2em 2em;
        }
            #info-wrap{
               width:1.5em;
            }
            #side-list{
                max-width:none;
            }
            .popular-item{
                margin: 1em 0;
            }
            .popular-article-text-container{
                margin-left:1.2em;
            }
            .popular-article-text-container h2{
                margin:.5em 0;
            }
            .popular-article-text-container p{
                margin:.5em 0 .5em 0;
            }
            .popular-img-article-item{
                width:100px;
            }
            .article-column-wrap{
                flex-direction:column;
            }
            .activities-item-small{
                max-height:100%;
                min-width:auto;
            }
            .activities-item-big{   
               max-width:100%;
               width:100%;
            }
            .bg-img-container{
                min-height:150px;
            }
            .activities{
                margin:0;
                width:100%;
            }
            #footer-content-wrap{
                max-width:90%;
                justify-content:center;
                flex-direction: column;
            }
            .footer-bloc-typo{
                flex:auto;
                margin:1em;
            }
        }
    
    /*//////////////////////////////////////////////////////////////////////////Petites resolutions///////////*/
    
    @media (max-width: 300px){
                /*Ajustements conteneur*/
        
                body{
                    width:100%;
                    margin:0;
                }
                #main-content-wrap{
                    width:100%;
                    margin:auto;
                }
          
                header{
                    display:flex; 
                    flex-direction: column;
                    justify-content: space-between;
                    margin:0;
                }
        
                #bloc-search{
                    display:flex;
                    flex-direction:column;
                }
            /*Ajustements Header*/
        
                #logo{
                    padding:1em;
                }
        
                nav{
                    justify-content: space-around;
                }
                
                ul{
                    padding:0;
                    margin-bottom:0;
                }
                .menu-item{
                    display:flex;
                }
        
                .menu-item a{
                    display:inline-block;
                    padding:0;
                    margin:auto;
                }
        
                li{
                    flex:1;
                    padding-bottom:1em;
                    border-bottom: solid #0065fc 3px;
                    margin:0 2px 0 2px;
                }
        
                li:nth-child(3){
                    position:absolute;
                    top:1em;
                    right:1em;
                    padding-top:1em;
                    border-bottom: none;
                }
                nav, ul{
                    display:flex;
                    flex:1;
                    list-style-type: none;
                }
        
                #top-results-wrap{
                    flex-direction: column;
                }
            
                #hebergements-marseille{
                    margin:2em auto 2em auto;
                    background:none;
                }
            
                #filters-wrap{
                    display:flex;
                    flex-wrap: wrap;
                    margin:2em auto 1em auto;
                }
        
                #filters{
                    margin:.5em .8em 1.5em .8em;
                    width:100%;
                }
            
                #side-list{
                    min-width:0;
                    margin: -1em 0;
                    order:-1;
                    border-radius: 0;
                }
            
                #activities-wrap{
                    flex-direction:column;
                    margin:auto;
                }
                #activities{
                    margin:0 1em;
                }
        
                #column-wrap-right{
                    margin:0;
                }
            
            /*typo*/
                
                #wrap-title{
                    margin:2em;
                }
        
                #wrap-title h2{
                    font-size:1.2em;
                    line-height:1.2em;
                }
            
                #filters-wrap h3{
                    font-size:1.2em;
                    margin:auto 1em auto 1em;
                }   
                .filter-type{
                    margin:1em 0 0 0;
                    transform:scale(.9)
                }
                .filter-type:nth-child(4){
                    margin-right:0;
                }
                .filter-type:nth-child(5){
                    margin-right:0;
                }
                .result-caption{
                    font-size:.8em;
                    margin:auto 1em auto 1em;
                }
                #activities h2{
                    margin-top:0;
                }
                #side-title{
                    display:flex;
                    justify-content: space-between;
                    margin: 1em 0;
                } 
                #display-more{
                    margin:0;
                }
                .link-menu{
                    color:#0065fc;
                }
            /*Ajustements blocs*/
        
                form{
                    width:100%;
                    margin:auto;
                    justify-content: space-around;      
                }
                #form-items-container{
                    width:auto;
                    margin:auto;
                    transform: scale(.65);
                }
        

                form #text-button-search{
                    display:none;
                    }
        
                    #icon-button-search{
                        display:flex !important;
                    }

                 .icon-search{
                display:block !important;
                margin:0;
                padding:.9em;
                font-size:1.3em;
                color:white;
                background:#0065fc;
                border-radius:.5em;
                 }
                #result-caption-wrap{
                    margin: 0 2em 2em 2em;
                 }
                #info-wrap{
                width:2em;
                }
                #side-list{
                    max-height:none;
                }
                .popular-item{
                    margin: 1em 0;
                }
               
                .article-column-wrap{
                    flex-direction:column;
                }
                .activities-item-small{
                    max-height:100%;
                    min-width:auto;
                }
                .activities-item-big{
                   max-width:100%;
                   width:100%;
                }
                .bg-img-container{
                    min-height:150px;
                }
                .activities{
                    margin:0;
                    width:100%;
                }
                #footer-content-wrap{
                    max-width:90%;
                    justify-content:center;
                    flex-direction: column;
                }
                .footer-bloc-typo{
                    flex:auto;
                    margin:1em;
                }
            .popular-img-article-item{
                display:none;
            }
            #hebergements-marseille{
                margin:0;
            }
            #hebergements-article-container{
                margin:0;
                max-width:280px;
            }
            .acommodations-item{
                margin:1em auto 1em auto;
            }
        }