html, body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    letter-spacing:-0.2px;
}

body{
    margin:auto;
}

header{
    margin:1.5em 0 2.5em 0;
}

main{
    max-width:1440px;
    margin:0 auto 0 auto;
}

header, nav, ul{
    display:flex;
    flex:1;
    justify-content: flex-end;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    font-weight:650;
}

a{
    padding:37px;
    border-top: solid rgba(0, 0, 255, 0) 3px;
    transition: all ease .4s;
    color:#0065fc;
}
a:hover{
    border-top: solid #0065fc 3px;
}

h1{
    font-weight:725;
    margin:0;
}

#hebergements-marseille h1{
    margin:0 0 1.5em 0;
    font-size:1.4em;
    line-height:1;
}

#side-title h1{
    overflow-wrap: normal;
}

h2{
    font-size:1em;
    font-weight:800;
    line-height:1em;
}

p{
    font-size:1.2em;
    font-weight:750;
    line-height:.5em;
}

.p-article-item{
    font-size:.9em;
    font-weight:500;
}

.result-caption{
    font-size:1em;
    font-weight:500;
    margin:1em 0 2em 0;
}

#display-more{
    margin:2em 0 0 0;
}

.light{
    margin-top:0.5em;
    font-size:.9em;
    font-weight:500;
}

.footer-text{
    font-size:1em;
    font-weight:500;
    line-height:2em;
}

.box-style{
    background:white;
    border-radius:1.5em;
    box-shadow: 2px 2px 20px #d9d9d9;
}

form{
    margin:2em 0;
    display:flex;
}

form button{
    font-size: 1em;
    font-weight:600;
    color:white;
    background:#0065fc;
    border:solid 1px #0065fc;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding:.9em;
}

input{
    padding:.8em;
    border:solid #f2f2f2 1px;
    border-right: none;
    border-left: none;
    font-family: 'Raleway';
    font-size:1.2em;
    font-weight: 800;
}

.map-icon{
    background: #f2f2f2 1px;
    font-size:1.2em;
    padding:.9em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#filters-wrap{
    display:flex;
    margin:2em 0 2em 0;
}

.filter-type{
    display:flex;
    margin-left:2em;
    padding:0 1em 0 0;
    border:solid #d9d9d9 2px;
    border-left:none;
    border-radius:2em;
}
.icon-wrap{
    background:#deebff;
    width:3em;
    height:3em;
    margin:auto;
    margin-right:1em;
    border-radius:100%;
    display:flex;
}
.icon-filter{
    margin:auto;
    color:#0065fc;
}

#top-results-wrap{
    display:flex;
    justify-content: space-between;
    width:100%;
}

#hebergements-marseille{
    background:#f2f2f2;
    padding:2.5em;
    border-radius:1.5em;
    margin-right:2em;
}

#hebergements-article-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 -2em -2em 0;
}

.acommodations-item{
    width:auto;
    max-width:280px;
    min-width:200px;
    flex:1;
    padding:5px;
    margin:0 2em 2em 0;
    display:flex;
    flex-direction: column;
}

.article-img-container{
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em;
    height:115px;
    overflow:hidden;
}

.article-text-container{
    margin-left:1em;
}

.img-article-item{
    margin:auto;
    width:100%;
    position:relative;
    transform: translateY(-65px);
}

#side-list{
    flex:1;
    background:#f2f2f2;
    padding:2.5em;
    border-radius:1.5em;
    min-width:330px;
    max-width:400px;
    padding:2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#side-title{
    display:flex;
    justify-content: space-between;
}

#side-title-icon{
    font-size:1.5em;
    justify-self: end;
}

.popular-item{
    display:flex;
    padding:5px;
}

.popular-text-container{
    display: flex;
    flex-direction: column;
}

.popular-article-img-container{
    max-width:125px;
    max-height:132px;
}

.popular-img-article-item{
    height:100%;
    overflow:hidden;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}

.popular-article-text-container{
    margin-left:2em;
}

.star-wrap{
   align-self: flex-end;
   background:red;
}

.fa-star{
    font-size:.8em;
    letter-spacing:-.2em;
}
.star-active{
    color:#0065fc;
}
.star-inactive{
    color:rgb(221, 221, 221);
}

#activities-wrap{
    width:100%;
    min-height:445px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activities h1{
    margin: 2em 0 0.5em 0;
}

.article-column-wrap{
    height:auto;
    display:flex;
    flex-direction: column;
}

.activities-item-small{
    height:100%;
    max-height:235px;
    min-width:300px;
}

.activities{
    width:auto;
    margin:1em 0 1em 0;
    display:flex;
    flex-direction: column;
    flex:1;
    overflow: hidden;
}

.activities-item-big{
    height:auto;
    max-width:300px;
}

#vieux-port{
    background-image: url(/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

#pomegues{
    background-image: url(/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

#frioul{
    background-image: url(/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

#calanques{
    background-image: url(/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

#longchamps{
    background-image: url(/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

#notre-dame{
    background-image: url(/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.bg-img-container{
    height:100%;
    width:100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.activities h2{
    margin:1em;
}

#column-wrap-1{
    flex:2;
}
#column-wrap-2{
    flex:1;
}

footer{
    width:100%;
    background:#f2f2f2;
    margin-top:3em;
}

#footer-content-wrap{
    max-width:1440px;
    display:flex;
    justify-content: space-around;
    width:100%;
    padding:2em 0 2em 0;
    margin:auto;
}

.footer-bloc-typo{
    flex:1;
    margin:auto;
}