html, body{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    letter-spacing:-0.2px;
}

body{
    width:90%;
    margin:auto;
}

header{
    margin:1.5em 0 2.5em 0;
}

main{
    margin:auto;
}

header, nav, ul{
    display:flex;
    flex:1;
    justify-content: flex-end;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    font-weight:650;
}

a{
    padding:37px;
    border-top: solid rgba(0, 0, 255, 0) 3px;
    transition: all ease .4s;
    color:blue;
}
a:hover{
    border-top: solid rgb(0, 0, 255) 3px;
}

h1{
    font-weight:750;
    margin:0;
}

h2{
    font-size:1em;
    font-weight:800;
    line-height:1em;
}

p{
    font-size:1.2em;
    font-weight:750;
    line-height:.5em;
}

.p-article-item{
    font-size:.9em;
    font-weight:500;
}

.result-caption{
    font-size:1em;
    font-weight:500;
}

.light{
    margin-top:0.5em;
    font-size:.9em;
    font-weight:500;
}

form{
    margin:2em 0;
    display:flex;
}

form button{
    font-size: 1em;
    font-weight:600;
    color:white;
    background:blue;
    border:solid 1px blue;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding:.9em;
}

input{
    padding:.8em;
    border:solid rgb(190, 190, 190) 1px;
    border-right: none;
    border-left: none;
    font-family: 'Raleway';
    font-size:1.2em;
    font-weight: 800;
}

.map-icon{
    background: rgb(190, 190, 190) 1px;
    font-size:1.2em;
    padding:.9em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#filters-wrap{
    display:flex;
    margin:2em 0 2em 0;
}

.filter-type{
    display:flex;
    margin-left:2em;
    padding:0 1em 0 0;
    border:solid rgb(202, 202, 202) 2px;
    border-left:none;
    border-radius:2em;
}
.icon-wrap{
    background:rgb(224, 243, 255);
    width:3em;
    height:3em;
    margin:auto;
    margin-right:1em;
    border-radius:100%;
    display:flex;
}
.icon-filter{
    margin:auto;
}

#top-results-wrap{
    display:flex;
    justify-content: space-between;
    width:100%;
}

#hebergements-marseille{
    background:grey;
    padding:2.5em;
    border-radius:1.5em;
    margin-right:2em;
}

#display-more{
    margin-top:2em;
}

#hebergements-article-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.acommodations-item{
    width:100%;
    max-width:235px;
    padding:5px;
    background:#fff;
    border-radius:2em;
    margin-top:2em;
    display:flex;
    flex-direction: column;
}

.article-img-container{
    border-top-left-radius: 1.8em;
    border-top-right-radius: 1.8em;
    height:115px;
    overflow:hidden;
}

.article-text-container{
    margin-left:1em;
}

.img-article-item{
    margin:auto;
    width:100%;
    position:relative;
    transform: translateY(-65px);
}

#side-list{
    flex:1;
    background:grey;
    padding:2.5em;
    border-radius:1.5em;
    min-width:330px;
    max-width:400px;
    padding:2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#side-title{
    display:flex;
    justify-content: space-between;
}

#side-title h1{
    overflow-wrap: normal;
}

#side-title-icon{
    font-size:1.5em;
    justify-self: end;
}

.popular-item{
    display:flex;
    background:#fff;
    padding:5px;
    border-radius:1.5em;
}

.popular-text-container{
    display: flex;
    flex-direction: column;
}

.popular-article-img-container{
    max-width:125px;
    max-height:132px;
}

.popular-img-article-item{
    height:100%;
    overflow:hidden;
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
}

.popular-article-text-container{
    margin-left:2em;
}

.star-wrap{
   align-self: flex-end;
   background:red;
}

.fa-star{
    font-size:.8em;
    letter-spacing:-.2em;
}
.star-active{
    color:blue;
}
.star-inactive{
    color:rgb(221, 221, 221);
}

#activities-wrap{
    width:100%;
    max-height:445px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:blue;
}

.article-column-wrap{
    height:445px;
    display:flex;
    flex-direction: column;
    background:red;
}

.activities-item-x2{
    height:445px;
    width:300px;
    overflow: hidden;
    background:#fff;
}

.activities-item{
    display:flex;
    flex-direction: column;
    width:300px;
    overflow: hidden;
    background:#fff;
}

.img-x2{
    width:auto;
    height:90%;
    margin:auto;
}
.img-x1{
    width:100%;
    height:auto;
}


.bg-img-container{
    height:445px;
    width:300px;
    background-position: center;
    background-size: cover;
}